:root {
    --main-color:#666 ;
    --sec-color:#333 ;
    --tert-color:#999 ;
    --dark-accent: #111;
    --light-accent: #f1f1f1;
}

body {
    background-color: var(--light-accent);
}

main {
    border: 1px solid red;
    width: 50em;
}