:root {
    --main-color:#666 ;
    --sec-color:#333 ;
    --tert-color:#999 ;
    --dark-accent: #111;
    --light-accent: #f1f1f1;
}

body {
    background-color: var(--light-accent);
    margin: 0;
    padding: 0;
}

main {
    border: 1px solid red;
    width: 80vw;
}

/*  */

.col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.margin-plus {
    margin: 0.5em;
}